@font-face {
  font-family: 'comic';
  src: url(./metadata/fonts/ldf-comicSans-hairline.ttf);
}
@font-face {
  font-family: 'comic-medium';
  src: url(./metadata/fonts/ldf-comicSans-medium.ttf);
}

body {
  font-family: 'comic';
  color: black;
  background-color: white;
  margin: 0;
}
#backdrop {
  display: block;
  height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#backdrop img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#back-2, #back-4, #back-6, #back-8, #back-10 {
  transform: rotate(180deg);
}


main {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  border: 3px solid black;
  border-radius: 16px;

  width: 580px;
  height: auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.5);  

}
main img {
  width: 96%;
  height: auto;
}

.socials {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 40px;
  align-self: center;
  justify-self: end;
}
.social-btn {
  width: 36px;
  height: auto;
  border: none;
  cursor: pointer !important;
}

.contract-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.contract-container p {
  font-size: 20px;
  font-family: 'comic-medium';
  border-bottom: 2px solid black;
  margin: 0;
}
.contract-container span {
  font-size: 16px;
  font-family: 'comic-medium';
}

.buy-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#chart-btn, 
#buy-btn {
  font-family: 'comic-medium';
  font-size: 16px;
  text-align: center !important;
  color: black;
  height: auto;
  width: auto;
  padding: 4px 8px;
  background-color: #a6e3a1;
  border: 2px solid black;
  border-radius: 12px;
  cursor: pointer !important;
}
#chart-btn:hover,
#buy-btn:hover {
  font-size: 16px;
  border: 2px solid black;
  background-color: whitesmoke;
  color: black;
}

/*-------------------------
    Mobile Optimzations
-------------------------*/
@media screen and (max-width: 659px) {
  main {
    width: 280px;
    height: auto;
    padding: 20px;
    gap: 20px;
  }
  main img {
    width: 96%;
    height: auto;
  }
  .socials {
    margin-top: 10px;
    gap: 50px;
  }
  .social-btn {
    width: 36px;
  }
  .contract-container { 
  gap: 10px;
  }
  .contract-container p {
    font-size: 16px;
  }
  .contract-container span {
    font-size: 12px;
    font-family: 'comic-medium';
  }
  .buy-container {
    gap: 60px;
  }
  #chart-btn, 
  #buy-btn {
    font-size: 20px;
    padding: 4px 8px;
    background-color: #a6e3a1;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer !important;
  }
}